{% extends namespace ~ '_meta.twig' %}

{% block content_inside %}
    <h1>PI Base UI</h1>

    <p>Camera</p>

    <ul>
        <li>
            <div>
                <h3>home--terrace <span><small>Terrasse</small></span></h3>
                <a href="/home--terrace/stream">Stream</a>
            </div>
        </li>
        <li><div>
                <h3>home--entrance-court <span><small>Hof</small></span></h3>
                <a href="/home--entrance-court/stream">Stream</a>
            </div>
            </li>
    </ul>
{% endblock %}