{% extends namespace ~ '_meta.twig' %}

{% block content_inside %}
    <small><a href="/">Home</a></small>
    <h1>Stream</h1>

    <video height="600" id="video" controls></video>
    <script src="/asset/out/hls.js"></script>
    <script>
        if (Hls.isSupported()) {
            var video = document.getElementById('video');
            var hls = new Hls();
            hls.loadSource('{{ stream_url }}');
            hls.attachMedia(video);
            hls.on(Hls.Events.MANIFEST_PARSED, function () {
                video.play();
            });
        }
        // hls.js is not supported on platforms that do not have Media Source Extensions (MSE) enabled.
        // When the browser has built-in HLS support (check using `canPlayType`), we can provide an HLS manifest (i.e. .m3u8 URL) directly to the video element throught the `src` property.
        // This is using the built-in support of the plain video element, without using hls.js.
        else if (video.canPlayType('application/vnd.apple.mpegurl')) {
            video.src = '{{ stream_url }}';
            video.addEventListener('canplay', function () {
                video.play();
            });
        }
    </script>
{% endblock %}