<!DOCTYPE html>
<html{% if meta.lang %} lang="{{ meta.lang }}"{% endif %}>
<head>
    {% block head %}
        {% block head_begin %}{% endblock %}

        {% block head_meta %}
            <meta charset="UTF-8"/>

            {% if head.title %}<title>{{ head.title }}</title>{% endif %}
            {% if head.author %}
                <meta name="author" content="{{ head.author }}"/>
            {% endif %}
            {% if meta.description %}
                <meta name="description" content="{{ meta.description }}">
            {% endif %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}

        {% block head_misc %}{% endblock %}

        {% block head_style %}
            <link href="{{ url.asset }}style{% if false == frontend.debug %}.min{% endif %}.css" rel="stylesheet" type="text/css"/>
            {% if head.font %}
                <link href="{{ head.font }}" rel="stylesheet">
            {% endif %}
        {% endblock %}

        {% block head_js %}
        {% endblock %}

        {% block head_end %}{% endblock %}
    {% endblock %}
</head>

{% block body %}
    <body class="body{% if body.class %} {{ body.class|join(' ') }}{% endif %}"{% if meta.lang %} lang="{{ meta.lang }}"{% endif %}{% if body.attr %} {{ body.attr|join(' ') }}{% endif %}>

    {% block body_begin %}{% endblock %}

    {% block container %}
        <div class="container--outer">

            {% block header_container %}
                <div class="header--container">
                    {% block header %}
                        <header class="header">
                            {% block header_inside %}{% endblock %}
                        </header>
                    {% endblock %}
                </div>
            {% endblock %}

            {% block container_inner %}
                <section class="container--inner">

                    {% block sidebar_left %}
                        <div class="sidebar left">
                            {% block sidebar_left_container %}
                                <div class="sidebar-left--container">
                                    {% block sidebar_left_begin %}{% endblock %}
                                    {% block sidebar_left_inside %}{% endblock %}
                                    {% block sidebar_left_end %}{% endblock %}
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}

                    {% block content %}
                        <div class="content">
                            {% block content_container %}
                                <section class="content-begin--container">
                                    {% block content_begin %}{% endblock %}
                                </section>
                                <main class="content--container">
                                    {% block content_inside %}{% endblock %}
                                </main>
                                <section class="content-end--container">
                                    {% block content_end %}{% endblock %}
                                </section>
                            {% endblock %}
                        </div>
                    {% endblock %}

                    {% block sidebar_right %}
                        <div class="sidebar right">
                            {% block sidebar_right_container %}
                                <div class="sidebar-right--container">
                                    {% block sidebar_right_begin %}{% endblock %}
                                    {% block sidebar_right_inside %}{% endblock %}
                                    {% block sidebar_right_end %}{% endblock %}
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}

                </section>
            {% endblock %}

            {% block footer_container %}
                <div class="footer--container">

                    {% block footer_inside_container %}
                        <div class="footer--inside--container">
                            {% block footer %}
                                <footer class="footer">
                                    {% block footer_inside %}{% endblock %}
                                </footer>
                            {% endblock %}
                        </div>
                    {% endblock %}

                    {% block footer_copyright_container %}
                        <div class="footer--copyright--container">
                            {% block footer_copyright %}
                                <div class="footer--copyright">
                                    {% block footer_copyright_inside %}{% endblock %}
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}

                </div>
            {% endblock %}

        </div>
    {% endblock %}

    {% block body_end %}{% endblock %}

    {% block foot_js %}{% endblock %}

    </body>
{% endblock %}
</html>