{% extends namespace ~  'general/base.twig' %}

{% block head_begin %}
    {{ parent() }}
{% endblock %}

{% block head_meta %}
    {{ parent() }}
{% endblock %}

{% block head_misc %}
    {{ parent() }}
{% endblock %}

{% block head_style %}
    {{ parent() }}
{% endblock %}

{% block head_js %}
    {{ parent() }}
{% endblock %}

{% block head_end %}
    {{ parent() }}
{% endblock %}

{% block foot_js %}
    {{ parent() }}
{% endblock %}


{% block body_begin %}
    {% include namespace ~ 'block/body-begin.twig' ignore missing %}
{% endblock %}

{% block header_inside %}
    {% include namespace ~ 'block/header.twig' ignore missing %}
{% endblock %}

{% block footer_inside %}
    {% include namespace ~ 'block/footer.twig' ignore missing %}
{% endblock %}

{% block footer_copyright_inside %}
    {% include namespace ~ 'block/footer-copyright.twig' ignore missing %}
{% endblock %}

{% block body_end %}
    {% include namespace ~ 'block/body-end.twig' ignore missing %}
{% endblock %}